[Unit]
Description=Moisture Service
Wants=network-online.target
After=network-online.target multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/code/chirp-rpi/chirp.py 0x20
StandardInput=tty-force
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

